In [8]:
#A loop statement that prints out numbers between 1 and 20 which includes 20

first_number = 1
while first_number <= 20:
    print(first_number)
    first_number += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [1]:

 fruit = ["apple", "guava", "orange", "banana", "watermelon"]
    
reversed(fruit)

In [13]:
type (reversed(fruit))

list_reverseiterator

In [21]:
 
    for favourite in reversed(fruit):
        print(f" {favourite} has a total {len(favourite)}numbers ")

 watermelon has a total 10numbers
 banana has a total 6numbers
 orange has a total 6numbers
 guava has a total 5numbers
 apple has a total 5numbers

In [1]:
#return even numbers between 30 and 70 which includes 70

First_nunber = 30

for even in range(30,70+1):
    if even % 2 == 0:
        print(even)

30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70

In [20]:
#The multiplication table of 5 is 
first_num = 1
five = 5
for multiplier in range(1,12+1):
    print(f" 5 * {first_num} = {five * multiplier} ")
    first_num +=1

 5 * 1 = 5
 5 * 2 = 10
 5 * 3 = 15
 5 * 4 = 20
 5 * 5 = 25
 5 * 6 = 30
 5 * 7 = 35
 5 * 8 = 40
 5 * 9 = 45
 5 * 10 = 50
 5 * 11 = 55
 5 * 12 = 60

In [30]:
five_multiples = 1
while five_multiples <= 12:
    print(five_multiples*5)
    five_multiples += 1

5
10
15
20
25
30
35
40
45
50
55
60

In [ ]:
import sys
 
print(sys.argv)

In [14]:
num_input = input("Enter the number: ")
num  = int(num_input)

def num_factorial(num):
    factorial = 1
    if num == 0 or num == 1:
        factorial = 1
    for digit in range (1, num+1):
        factorial *= digit
    return factorial
    
result = num_factorial(num)
print ("The factorial of ", num, "is: ",result)

Enter the number: 5
The factorial of  5 is:  120

In [29]:
print(type(sys.argv))

SyntaxError: invalid syntax (<ipython-input-29-5b1a89af8b17>, line 1)

In [9]:
word_length = 0

for arg in sys.argv[1:]:
    word_length += len(arg)
    
    print (f" The total length i'm expecting is {word_length}")

 The total length i'm expecting is 2
 The total length i'm expecting is 99

In [2]:
food = "pasta"
print(food.lstrip("p"))

asta

In [18]:
number= .123345
print(format(number, ".2%"))

12.33%

In [20]:
print("pasta ". __add__("and fried chicken"))

pasta and fried chicken

In [44]:
#using filter functions

metals = ["gold", "silver", "aluminium", "copper"]

new_metal = [metal for metal in metals if len(metal) > 5]

print(new_metal)

['silver', 'aluminium', 'copper']

In [45]:
def special_metals(metal):
    
    
    return len(metal) > 5
print(list(filter(special_metals , metals)))

['silver', 'aluminium', 'copper']

In [52]:
def special_metals(metal):
    
    return (metal)

print(list(filter(special_metals ,metals)))

['gold', 'silver', 'aluminium', 'copper']

In [55]:
#using lambda function

metals = ["gold", "silver", "aluminium", "copper"]

print(list(filter(lambda word: "l" in word , metals)))

['gold', 'silver', 'aluminium']

In [61]:
metals = ["gold", "silver", "aluminium", "copper"]

print(list(map(lambda word: len(word) > 7 , metals)))

#metals = ["gold", "silver", "aluminium", "copper"]

#But,
#print(list(filter(lambda word: len(word) > 7 , metals)))
#output will give "aluminium"

[False, False, True, False]

In [28]:
dict()
fruit = [
    ["a","3"],
    ["b","4"],
    ["c","5"]
] 


dict(fruit)

{'a': '3', 'b': '4', 'c': '5'}

In [33]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")

print(x)

Mustang

In [35]:
car.values()

dict_values(['Ford', 'Mustang', 1964])

In [33]:
fruit = ["apple"]
apple = ["apple1","apple2", "apple3", "apple4"]

for choice in apple:
    fruit.append(choice)
    
print(fruit)

['apple', 'apple1', 'apple2', 'apple3', 'apple4']

In [35]:
person1 = {
  "name": "John",
  "age": 36,
  "country": "Norway"
}

In [15]:
import string

print(string.ascii_uppercase)
print(string.digits)

print(string.capwords("tutu adejuyigbe"))

ABCDEFGHIJKLMNOPQRSTUVWXYZ
0123456789
Tutu Adejuyigbe

In [17]:
import math

math.sqrt(49)
math.ceil(5.9)
math.floor(5.9)

5

In [52]:
with open("myfile.txt", "w") as myfile:
    myfile.write("For multiplication table of 2!\n")
    start_num = 1
    two = 2
    for multiples in range(1, 15+1):
        myfile.write(f"{two} * {start_num} = {2 * multiples} \n")
        start_num +=1
        if multiples == 12:
            break

In [55]:
with open("myfile.txt","r") as myfile:
    print(myfile.read())
    print("Assignment on Multiplication table by 2 completed!")

For multiplication table of 2!
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24

Assignment on Multiplication table by 2 completed!

In [56]:
import sample

NameError: name 'Area' is not defined

In [58]:
print(dir(sample))

['Area', 'PI', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'creator', 'per_of_tri']

In [59]:
print(Area(7))

NameError: name 'Area' is not defined