In [13]:
def subtract(a,b):
    print(a-b)
    
result = subtract(5,3)
print(result)

2
None

In [18]:
"scholar"[:-2]

'schol'

In [21]:
"scholar"[:5]

'schol'

In [43]:
"scholar"[: : 3]

'sor'

In [54]:
name = "scholar"
name.upper()

'SCHOLAR'

In [47]:
"scholar"[1:5:2]

'co'

In [4]:
def function_name(c=1,b= 2, a= 3):
    
    return a,b,c

function_name(5)

(3, 2, 5)

In [27]:
"Scholar"[1:6: 2]

'coa'

In [85]:
work = "Practical"

work.find("a", 4)

7

In [86]:
c = 8
c -=4
print(c)

4

In [10]:
int(False)

0

In [34]:
def first_three_character(character):
    
    character = "Dynasty"[0:3]
    return(character)

first_three_character("Dynasty")

'Dyn'

In [42]:
"attractive street, beverly heels, "[0:19]

'attractive street, '

In [57]:
"\"I am blessed\",says Tutu"

'"I am blessed",says Tutu'

In [65]:
print("let's print a back slash, \\")

let's print a back slash, \

In [69]:
print(type)

SyntaxError: unexpected character after line continuation character (<ipython-input-69-9d139606027f>, line 1)

In [77]:
3 + \
45+ \
32

SyntaxError: invalid syntax (<ipython-input-77-b29bc6fec32b>, line 2)

In [78]:
def string_adder(a= "Hello", b= " Adetutu"):
    
    return a + b

string_adder()

'Hello Adetutu'